# project files
xdemo/xlog.dat
xdemo/xdemo
# doc/*
!doc/info.txt
xdemo/obj/*
xdemo/bak/*
xdemo/img/*
xdemo/*.txt

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
# !.vscode/tasks.json
!.vscode/launch.json
# !.vscode/extensions.json
!.vscode/c_cpp_properties.json

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core		
.project
# CDT-specific (C/C++ Development Tooling)
.cproject


### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*
